.lan {
  width: 550px;
  height: 350px;
}

.por {
  width: 410px;
  height: 580px;
}

.bear {
  max-width: fit-content;
  width: 777px;
  height: 300px;
}

span.material-symbols-outlined {
  font-size: 50px;
}

body {
  background-color: #f7fa99;
  font-family: 'Dongle', 'Times New Roman';
  font-size: 35px;
  color: #3a1aaf;
  line-height: 30px;
}

h1 {
  color: #1e0e3f;
  font-family: 'Lacquer', 'Dongle';
  font-size: 100px;
  font-weight: bolder;
  /* padding: 10px; */
  line-height: 100px;
}

h2,
h3 {
  color: #1e0e3f;
  font-family: 'Lacquer', 'Dongle';
  font-size: 50px;
  /* padding: 10px; */
  line-height: 50px;
}

@media all and (max-width: 400px) {
  body {
    max-width: fit-content;
    font-size: 20px;
    color: #f24780;
    background-color: aquamarine;
  }

  .lan {
    width: 260px;
    height: 175px;
  }

  .por {
    width: 260px;
    height: 370px;
  }

  h1,
  h2,
  h3 {
    max-width: fit-content;
    font-size: 30px;
    color: #d60a4e;
  }

  a {
    max-width: fit-content;
    font-size: 20px;
    color: #d60a4e;
  }
}
