@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

.quest {
  color: #541ac7;
  border-radius: 20px;
  font-style: italic;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-left: 50px;
}

.lan {
  width: 550px;
  height: 350px;
}

.por {
  width: 410px;
  height: 580px;
}

.sq {
  width: 200px;
  height: 240px;
}

.sp {
  width: 350px;
}

.polar {
  width: 220px;
  height: 340px;
}

.bear {
  max-width: fit-content;
  width: 777px;
  height: 300px;
}

.padding {
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

span.material-symbols-outlined {
  font-size: 50px;
}

body {
  background-color: #dfdafc;
  font-family: 'LXGW WenKai Mono TC', 'Dongle', 'Times New Roman';
  font-size: 20px;
  color: #000000;
  line-height: 26px;
}

h1 {
  color: #1e0e3f;
  background-color: #ffffff;
  font-family: 'Lacquer', 'Dongle';
  font-size: 100px;
  font-weight: bolder;
  padding: 30px;
  border-radius: 90%;
  line-height: 100px;
}

h2,
h3 {
  color: #1e0e3f;
  font-family: 'Lacquer', 'Dongle';
  font-size: 50px;
  /* padding: 10px; */
  line-height: 40px;
}

footer {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 90%;
}

@media all and (max-width: 450px) {
  body {
    max-width: fit-content;
    font-size: 20px;
    color: #f24780;
    background-color: rgb(200, 255, 237);
  }

  .lan {
    width: 260px;
    height: 175px;
  }

  .por {
    width: 260px;
    height: 370px;
  }

  .quest {
    color: black;
  }

  h1,
  h2,
  h3 {
    max-width: fit-content;
    font-size: 30px;
    color: #d60a4e;
  }

  a {
    max-width: fit-content;
    font-size: 20px;
    color: #d60a4e;
  }
}
